/* -------------------------------------------------
 * 16srRNA Nextflow config file
 * ------------------------------------------------
*/

// Global default params, used in configs

params{
	outdir = '/data/rose/nextflow/Results'
	primers = '/data/rose/set5_primers.txt'
	metadata = '/data/rose/set5_meta.tsv'
	reads = '/data/rose/Vsearch_analysis/*_R{1,2}.fastq'
}
